<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">
<link href="style.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39" rel="stylesheet">
<head>
  <title>TinyApp - Home</title>
</head>
<body>
  <% include partials/_header %>
  <div class="container">
  <div class="contentlist">
    <ul>
      <% for(var url in templateVars.urls) { %>
        <% if(templateVars.urls[url][1] === templateVars.user.userID) {%>
        <li>
          <a href="/u/<%= url %>"><%= url %></a> - <%= templateVars.urls[url][0] %>
        </li>
        <li>
          <form method="POST" action="/urls/<%= url %>/delete">
          <input class="button" type="submit" value="Delete">
          </form>
        </li>
        <li>
        <a href="/urls/<%= url %>" class="button">   EDIT   </a>
        </li>
      <% }}; %>
    </ul>
    <p><a href="/urls/new" class="button">Make new ZombieApp</a></p>

  </div>
  </div>

</body>
</html>
