<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp - New URL</title>
</head>
<body style="font-size:20px; padding:50px;"">
  <% include partials/_header %>
  <h1>New - URL!</h1>
  <ul style="list-style: none;">
      <li>Your Original URL - <%= longURL %> - Your TinyApp http://localhost:8080/urls/<%= shortURL %></li>
  </ul>
  <div class="container">
    <ul style="list-style: none;">
      <li><a href="new">Another one!</a>  <a href="/urls">Short URLS</a></li>
    </ul>
  <div class="container">
    <h1>Update <%= shortURL %></h1>
    <form action="/urls/<%= shortURL %>/update" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="<%= longURL %>" style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </div>
</body>
</html>
