<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="style.css" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<head>
  <title>TinyApp - New URL</title>
</head>

<body>

  <% include partials/_header %>

  <div class="container">
    <ul>
       <li>The URL <%= templateVars.urls[templateVars.shortURL][0] %> has been assigned <a href="http://localhost:8080/u/<%= templateVars.shortURL %>">http://localhost:8080/u/<%= templateVars.shortURL %></a></li>
    </ul>

    <ul style="list-style: none;">
      <li><a href="new">Another one!</a>  <a href="/urls">Short URLS</a></li>
    </ul>
    <h1>Update <%= templateVars.shortURL %></h1>
    <form action="/urls/<%= templateVars.shortURL %>/update" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="<%= templateVars.longURL %>">
      <input type="submit" value="Update">
    </form>
  </div>
</body>
</html>
